@font-face {
    font-family: 'Symbols Nerd Font';
    src: url('../.../assets/fonts/SymbolsNerdFont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
