@layer base {
    body {
        @apply bg-white;

        @variant dark {
            @apply bg-darker-900;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-darker-300 font-bold;
    }

    h1 {
        /* @apply text-6xl; */
        font-size: var(--text-6xl);
    }

    h2 {
        @apply pb-4 text-darker-200;
        font-size: var(--text-4xl);
    }

    h3 {
        @apply text-2xl text-darker-500;
        font-size: var(--text-2xl);
    }

    p {
        @apply text-darker-100;
        font-size: var(--text-base);

        + p {
            @apply mt-8;
        }
    }

    section {
        + section {
            @apply py-20;

            /* &:last-of-type {
                @apply mb-8;
            } */
        }
    }
}
