@utility fancy-border {
    @apply relative;

    &:after {
        @apply absolute h-0.5 w-full bg-linear-to-r from-pink to-cyan bottom-0 left-0;
        content: ' ';
    }
}

@utility fancy-border-thin {
    @apply fancy-border;

    &:after {
        @apply h-px;
    }
}

@utility fancy-text {
    @apply bg-clip-text text-transparent bg-linear-to-r from-pink to-cyan;
}

@utility viewport-container {
    @apply w-full;

    @variant sm {
        @apply max-w-sm;
    }

    @variant md {
        @apply max-w-md;
    }

    @variant lg {
        @apply max-w-lg;
    }

    @variant xl {
        @apply max-w-xl;
    }
}

@utility justin-container {
    @apply container mx-auto;
    @apply px-7;
    @apply w-full;
    @apply relative;

    @variant xl {
        @apply max-w-4xl px-0;
    }
}

@utility read-more {
    @apply text-purple underline underline-offset-6;
    @apply underline underline-offset-6;
    @apply decoration-wavy;
}

@utility fancy-link {
    @apply read-more;
}

@utility grid-bg {
    @apply relative;
    @apply border-b-2;

    &:before {
        --square-size: 16px;
        @apply absolute w-full h-full top-0 left-0 transition-all ease-linear;
        @apply z-20;
        @apply pointer-events-none;

        content: ' ';

        background-size: var(--square-size) var(--square-size);
        background-image:
            linear-gradient(to right, --alpha(var(--color-darkGray) / 5%) 1px, transparent 1px),
            linear-gradient(to bottom, --alpha(var(--color-darkGray) / 5%) 1px, transparent 1px);
    }

    @variant dark {
        &:before {
            background-image:
                linear-gradient(to right, --alpha(var(--color-darker-50) / 5%) 1px, transparent 1px),
                linear-gradient(to bottom, --alpha(var(--color-darker-50) / 5%) 1px, transparent 1px);
        }
    }

    /* &:after {
        @apply absolute w-full h-full top-0 left-0;
        @apply z-10;
        @apply pointer-events-none;

        content: ' ';
        background: radial-gradient(circle, var(--color-darker-900), var(--color-black));
    } */
}

@utility markdown-content {
    h2 {
        @apply text-pink;
    }

    h3 {
        @apply text-cyan;
    }

    h4 {
        @apply text-green;
    }

    h5 {
        @apply text-yellow;
    }

    h6 {
        @apply text-orange;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        +p {
            @apply mt-4;
        }
    }

    p {

        +h1,
        +h2,
        +h3,
        +h4,
        +h5,
        +h6 {
            @apply my-4;
        }
    }

    strong {
        @apply text-orange;
    }

    &.italic,
    em,
    strong>em {
        @apply text-yellow;
    }

    blockquote {
        @apply flex;
        @apply my-4;

        &:before {
            @apply block mx-4;
            @apply w-0.5 h-6 bg-yellow;
            content: ' ';
        }
    }

    ul {
        @apply text-darker-100;
        @apply list-disc;
        @apply pl-4;
        @apply py-2;

        li {
            >ul {
                @apply list-[circle];
                @apply ml-4;
                @apply mb-2;
                @apply py-0;
            }
        }
    }

    img {
        @apply my-8;
    }
}

@utility input-has-value {
    @apply text-xs;
    @apply top-0;
    @apply bg-black;
    @apply px-3;
}

@utility form-input {
    @apply bg-transparent rounded-md border border-cyan-500 relative;
    @apply mb-6;

    input,
    textarea {
        @apply py-3 px-3;
        @apply h-full w-full rounded-md;
        @apply placeholder-transparent;
        @apply text-cyan;
    }

    label {
        @apply absolute transition-all;
        @apply left-2.5 top-1/2;
        @apply -translate-y-1/2;
        @apply cursor-text;
        @apply text-lg font-bold;
        @apply text-darker-300;

        @variant peer-not-placeholder-shown {
            @apply input-has-value;
        }

        @variant peer-focus {
            @apply input-has-value;
        }
    }

    textarea + label {
        @apply top-6;
    }
}

@utility pill-button {
    @apply relative flex flex-row items-center flex-0;
    @apply px-8 py-4 text-center font-bold transition-all;
    @apply border-2 border-secondary rounded-lg;
    @apply max-w-fit;
    @apply no-underline;
    @apply overflow-hidden;
    @apply cursor-pointer;
    @apply text-white;

    &:after {
        @apply bg-secondary absolute bottom-0 left-0 w-full h-full transition-all translate-y-0;
        @apply -z-20;
        transform-origin: bottom center;
        content: ' ';
    }

    &:hover {
        @apply rounded-lg;
        @apply text-secondary;

        &:after {
            @apply translate-y-full;
            @apply border-transparent text-secondary bg-secondary;
        }
    }

    /* &.default {
        @apply text-darker;

        &:hover {
            @apply border-transparent text-light bg-darker;
        }
    }

    &.green {
        @apply text-green;

        &:after {
            @apply bg-green;
        }

        &:hover {
            @apply text-darker;
        }
    }

    &.cyan {
        @apply text-cyan;

        &:after {
            @apply bg-cyan;
        }

        &:hover {
            @apply text-darker bg-cyan;
        }
    }

    &.red {
        @apply text-red-600;

        &:after {
            @apply bg-red-600;
        }

        &:hover {
            @apply text-darker bg-red-600;
        }
    }

    &.pink {
        @apply text-pink;

        &:after {
            @apply bg-pink;
        }

        &:hover {
            @apply text-darker bg-pink;
        }
    }

    &.purple {
        @apply text-purple;

        &:after {
            @apply bg-purple;
        }

        &:hover {
            @apply text-darker bg-purple;
        }
    }

    &.yellow {
        @apply text-yellow;

        &:after {
            @apply bg-yellow;
        }

        &:hover {
            @apply text-darker bg-yellow;
        }
    }
    */
}
