@utility fancy-border {
    @apply relative;

    &:after {
        @apply absolute h-0.5 w-full bg-linear-to-r from-pink to-cyan bottom-0 left-0;
        content: ' ';
    }
}

@utility fancy-border-thin {
    @apply fancy-border;

    &:after {
        @apply h-px;
    }
}

@utility fancy-text {
    @apply bg-clip-text text-transparent bg-linear-to-r from-pink to-cyan;
}

@utility viewport-container {
    @apply w-full;

    @variant sm {
        @apply max-w-sm;
    }

    @variant md {
        @apply max-w-md;
    }

    @variant lg {
        @apply max-w-lg;
    }

    @variant xl {
        @apply max-w-xl;
    }
}

@utility justin-container {
    @apply container mx-auto;
    @apply px-7;
    @apply w-full;
    @apply relative;

    @variant xl {
        @apply max-w-4xl px-0;
    }
}

@utility read-more {
    @apply text-secondary font-bold;
}

@utility fancy-link {
    @apply read-more;
}

@utility grid-bg {
    @apply relative;

    &:after {
        --square-size: 16px;
        @apply absolute w-full h-full top-0 left-0 transition-all ease-linear;
        /* @apply -z-20; */
        @apply pointer-events-none;

        content: ' ';

        background-size: var(--square-size) var(--square-size);
        background-image:
            linear-gradient(to right, --alpha(var(--color-darkGray) / 5%) 1px, transparent 1px),
            linear-gradient(to bottom, --alpha(var(--color-darkGray) / 5%) 1px, transparent 1px);
    }

    @variant dark {
        &:after {
            background-image:
                linear-gradient(to right, --alpha(var(--color-darker-50) / 5%) 1px, transparent 1px),
                linear-gradient(to bottom, --alpha(var(--color-darker-50) / 5%) 1px, transparent 1px);
        }
    }
}

@utility markdown-content {
    h2 {
        @apply text-primary dark:text-pink-400;
        @apply text-4xl;
    }

    h3 {
        @apply text-cyan-800 dark:text-cyan-600;
        @apply text-3xl;
    }

    h4 {
        @apply text-purple-700 dark:text-green;
        @apply text-2xl;
    }

    h5 {
        @apply text-yellow-700;
        @apply text-xl;
    }

    h6 {
        @apply text-orange;
        @apply text-lg;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        +p {
            @apply mt-4;
        }
    }

    p {

        +h1,
        +h2,
        +h3,
        +h4,
        +h5,
        +h6 {
            @apply mt-8 mb-4;
        }
    }

    strong {
        @apply text-orange-700;
    }

    &.italic,
    em,
    strong>em {
        @apply text-orange-700;
    }

    code {
        @apply p-1 mx-1;
        @apply bg-darker-600 text-green-300;
        @variant dark {
            @apply bg-dark-50 text-pink-400;
        }
    }

    blockquote {
        @apply flex;
        @apply my-4;

        &:before {
            @apply block mx-4;
            @apply w-0.5 h-6 bg-yellow;
            content: ' ';
        }
    }

    ul {
        @apply text-darker-500;
        @apply list-disc;
        @apply pl-4;
        @apply py-2;

        li {
            >ul {
                @apply list-[circle];
                @apply ml-4;
                @apply mb-2;
                @apply py-0;
            }
        }
    }

    img {
        @apply my-8;
    }

    a {
        @apply text-secondary dark:text-cyan;
        @apply font-bold;
        @apply underline underline-offset-6;
    }
}

@utility input-has-value {
    @apply text-xs;
    @apply top-0;
    @apply bg-white dark:bg-darker-800;
    @apply px-3;
}

@utility form-input {
    @apply bg-transparent rounded-md border border-primary dark:border-secondary relative;
    @apply mb-6;

    input,
    textarea {
        @apply py-3 px-3;
        @apply h-full w-full rounded-md;
        @apply placeholder-transparent;
        @apply text-black dark:text-cyan;
    }

    label {
        @apply absolute transition-all;
        @apply left-2.5 top-1/2;
        @apply -translate-y-1/2;
        @apply cursor-text;
        @apply text-lg font-bold;
        @apply text-primary dark:text-cyan;

        @variant peer-not-placeholder-shown {
            @apply input-has-value;
        }

        @variant peer-focus {
            @apply input-has-value;
        }
    }

    textarea + label {
        @apply top-6;
    }
}

@utility pill-button {
    @apply relative flex flex-row items-center flex-0;
    @apply px-8 py-4 text-center font-bold transition-all;
    @apply border-2 border-secondary rounded-lg;
    @apply max-w-fit;
    @apply no-underline;
    @apply overflow-hidden;
    @apply cursor-pointer;
    @apply text-white;

    .pill-button-text {
        @apply z-20;
    }

    &:after {
        @apply bg-secondary absolute bottom-0 left-0 w-full h-full transition-all translate-y-0;
        @apply z-10;
        transform-origin: bottom center;
        content: ' ';
    }

    &:hover {
        @apply rounded-lg;
        @apply text-secondary;

        &:after {
            @apply translate-y-full;
            @apply border-transparent text-secondary bg-secondary;
        }
    }

    &.inverse {
        &:after {
            @apply translate-y-full w-[200%];
        }

        &:hover {
            &:after {
                @apply translate-y-0;
            }
        }
    }
}
