.hamburger {
    @apply block relative;
    @apply w-16 h-10;
    @apply cursor-pointer;

    .hamburger-bar {
        @apply block 
            relative
            w-full
            h-2
            bg-primary
            dark:bg-secondary
            rounded-md;

        @apply origin-center transition-[rotate];
        @apply mb-2;

        content: ' ';

        :last-of-type {
            @apply mb-0;
        }
    }

    &.active {
        .hamburger-bar {
            @apply absolute;
            @apply top-1/2;

            &:first-child {
                @apply rotate-45;
            }

            &:last-child {
                @apply rotate-135;
            }

            &:nth-child(2) {
                @apply opacity-0;
            }
        }
    }

    @variant md {
        @apply hidden;
    }
}

.main-menu {
    li {
        @apply border-r border-darker pr-3 mr-3 last:mr-0;

        a.menu-item {
            @apply relative text-primary dark:text-darker-300 transition-all;
            @apply no-underline;

            &::after {
                @apply absolute -bottom-3 left-0;
                content: '';
                @apply h-0.5 w-0 bg-cyan-800 dark:bg-cyan origin-center transition-all;
            }

            &:hover {
                @apply text-cyan-800 dark:text-cyan;

                &::after {
                    @apply w-full;
                }
            }

            &.active {
                @apply text-secondary dark:text-pink;

                &::after {
                    @apply bg-secondary dark:bg-pink w-full;
                }
            }
        }

        &:nth-last-child(2) {
            @apply border-r-0!;
        }
    }

    @apply hidden;
    @variant md {
        @apply flex flex-row items-center py-4 md:py-0;
    }
}

